.navbar {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  height: 104px;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px calc(5% - 10px);
}

.navLinks {
  display: flex;
  align-items: center;
}
.navLinks .button {
  background: none !important;
  height: 50px;
  display: inline-flex;
}

.helpIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

.logo-skeleton {
  width: 120px;
  height: 32px;
}

.button-skeleton {
  width: 96px;
  height: 36px;
}


.skeleton-light {
  position: relative;
  overflow: hidden;
}

.skeleton-light::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
