.card {
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-lg);
  max-width: 640px;
  text-align: center;
  margin: auto;
}

.card-header {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-white);
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
}

.card-content {
  font-size: var(--font-size-3xl);
  margin: var(--spacing-md) 0;
}