.skeleton {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
  }
  
  .skeleton--wave {
    isolation: isolate;
  }
  
  .skeleton--wave::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .skeleton--wave::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent, rgba(17, 17, 17, 0.2), #0000000f);
    animation: shimmer 2s infinite linear;
    transform: translateX(-100%);
  }
  
  @keyframes shimmer {
    to {
      transform: translateX(100%);
    }
  }